.home {
  width: 800px;
  margin: auto;
  color: #6c63ff;
  text-align: center;

  .medal-section {
    display: flex;
    flex-wrap: wrap;

    .name {
      width: 100%;
      text-align: left;
      font-size: 25px;
      padding: 15px 0px;
      border-bottom: 1px solid #6c63ff;
      margin-bottom: 30px;
    }

    .medal-wrapper {
      width: 100px;
      display: inline-block;
      box-sizing: border-box;
    }

    .medal {
      width: 100px;
      height: 100px;
      display: inline-block;
      box-sizing: border-box;
      position: relative;

      .label {
        margin-bottom: 40px;
      }

      .hover {
        visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
      }
    }

    .medal:hover {
      .hover {
        visibility: visible;
        background-color: #21242b;
        opacity: 0.9;
        padding-top: 30px;
      }
    }

    .bronze {
      filter: brightness(0.39) contrast(2.07) hue-rotate(-321deg)
        saturate(3) sepia(1);
    }

    .silver {
      filter: none;
    }

    .gold {
      .overlay {
        background-color: rgba(234, 177, 7, 0.5);
        visibility: visible;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 75px;
        z-index: 1;
      }
    }

    .none {
      .overlay {
        background-color: rgba(234, 5, 7, 0.4);
        visibility: visible;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 75px;
        z-index: 1;
      }
    }
  }
}
